body {
  background-image: url('background_images/yb.jpg');
}

.pages {
  max-width: 25%;
  min-width: 140px;
  position: relative;
  top: 20px;
  left:100px;
}

.intro {
  padding-left: 30px;
}

.links {

}
.videos { 
 background-image: url('background_images/lb.jpg');
}
.home {
background-image: url('background_images/hb.jpg');

}

.intro {
   font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

li {
color: #89940D;

}


a:link { color: #DFED47;
}
a:visited { color: #DFED47;
}
a:hover { color: white;
}

.comingsoon {
background-image: url('background_images/comingsoon.jpg');
color: white;
}


