.body {
  display: flex;
	background-image: url('background_images/yb.jpg');
}

.pages {
  max-width: 25%;
  min-width: 140px;
  background-color: #FFEE00;
  flex: 1;
}

.intro {
  padding-left: 30px;
}

.links {

}
.videos { 
 background-image: url('background_images/lb.jpg');
}
.home {
background-image: url('background_images/hb.jpg');

}

li {
color: #89940D;

}


a:link { color: #DFED47;
}
a:visited { color: #DFED47;
}
a:hover { color: white;
}

.comingsoon {
background-image: url('background_images/comingsoon.jpg');
color: white;
}


